<div class="col-md-12">
    <div class="card card-container">
      <!-- <img style="width: 100px;"
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      /> -->
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="name">Product Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="form.name"
            required
            minlength="3"
            maxlength="20"
            #name="ngModel"
          />
          <div class="alert-danger" *ngIf="name.errors && f.submitted">
            <div *ngIf="name.errors['required']">name is required</div>
            <div *ngIf="name.errors['minlength']">
              name must be at least 3 characters
            </div>
            <div *ngIf="name.errors['maxlength']">
              name must be at most 20 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="image">Product Image</label>
          <input
            type="text"
            class="form-control"
            name="image"
            [(ngModel)]="form.image"
            required
            #image="ngModel"
          />
          <!-- <img src="{{product.image}}" alt="{{product.name}}" height="50" [(ngModel)]="form.name"> -->
          <div class="alert-danger" *ngIf="image.errors && f.submitted">
            <div *ngIf="image.errors['required']">image is required</div>
          </div>
        </div>



        <div class="form-group">
          <label for="category">Product Category</label>
          <input
            type="text"
            class="form-control"
            name="category"
            [(ngModel)]="form.category"
            required
            #category="ngModel"
          />
          <div class="alert-danger" *ngIf="category.errors && f.submitted">
            <div *ngIf="category.errors['required']">category is required</div>
            
          </div>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="text"
            class="form-control"
            name="price"
            [(ngModel)]="form.price"
            required
            #price="ngModel"
          />
          <div class="alert-danger" *ngIf="price.errors && f.submitted">
            <div *ngIf="price.errors['required']">Price is required</div>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block">Submit</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your Product added successful!
      </div>
    </div>
  </div>




  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Category</th>
        <th>Price</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <!-- <div *ngIf="!element.isEdit">
          {{ element.firstname }}
        </div> -->
        <td>
          <div *ngIf="product.isEdit">
            <input type="text" [(ngModel)]="product.name">
          </div>
          <div *ngIf="!product.isEdit">
            {{ product.name }}
          </div>
        </td>
        <td>
          <div *ngIf="product.isEdit">
            <input type="text" [(ngModel)]="product.image">
          </div>
          <div *ngIf="!product.isEdit">
            <img src="{{product.image}}" alt="{{product.name}}" height="100" width="100">
          </div>
        </td>        
        <td>
          <div *ngIf="product.isEdit">
            <input type="text" [(ngModel)]="product.category">
          </div>
          <div *ngIf="!product.isEdit">
            {{ product.category }}
          </div>
        </td>
        <td>
          <div *ngIf="product.isEdit">
            <input type="text" [(ngModel)]="product.price">
          </div>
          <div *ngIf="!product.isEdit">
            {{ product.price | currency:"INR"}}
          </div>
        </td>
        <td>

          
            <div *ngIf="product.isEdit">
              <button class="btn btn-sm btn-success" (click)="updateProduct(product)">Update</button> |
              <button class="btn btn-sm btn-danger" (click)="product.isEdit=false">Cancle</button>
            </div>
            <div *ngIf="!product.isEdit">
              <button (click)="status(product)" class="btn btn-sm btn-primary">Edit</button> &nbsp;
              <button class="btn btn-sm btn-danger" (click)="deleteProduct(product.id)">Delete</button>
              <!-- <button (click)="deleteUser(product)" mat-raised-button color="warn">Delete</button> -->
            </div>
          

          <!-- <div *ngIf="element.isEdit">
            <button  color="primary" (click)="updateUser(element)">Update</button> |
            <button color="warn" (click)="element.isEdit=false">Cancle</button>
          </div>
          <div *ngIf="!element.isEdit">
            <button (click)="status(element)"  color="primary">Edit</button> |
            <button (click)="deleteUser(element)" mat-raised-button color="warn">Delete</button>
          </div> -->

          <!-- <button class="btn btn-sm btn-primary" 
          routerLink="/edit/{{product.id}}"
          >
          Edit</button> -->
        </td>
      </tr>
    </tbody>
  </table>
