.container{
  text-align: center;
}

.button {
    margin-right: 20px;
  }
  .button-active {
    background-color: #9b4dca;
    color: white;
  }
  .button-active:hover,
  .button-active:focus {
    background-color: #9b4dca;
    border-color: #9b4dca;
    color: #fff;
  }
  .top-bar {
    margin: 25px 0;
  }




.btn1{
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 60px;
    display: flex;
    justify-content: center;
}
.message {
    /* border-radius: 50px; */
    margin: 0 15px 20px;
    padding: 10px 20px;
    position: relative;
    font-size: 20px;
    width: 200px;
  }
  .message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 100px;
    text-align: right;
  }
  .message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 100px;
  }
  .message.to + .message.to,
  .message.from + .message.from {
    margin-top: -10px;
}


.chatbot{
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.zoom{
  background-color: none;
  transition: transform .2s;
  margin: 0 auto;
  cursor: pointer;
}

.zoom:hover{
  transform: scale(1.2);
}


/* for scroll to top */
.scroll-to-top {
  /* border: 1px solid black; */
  border-radius: 10px;
  position: fixed;
  bottom: 15px;
  left: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
  background-color: #64646466;
 }
 .scroll-to-top:hover{
  background-color: #3a3a3a66 ;
 }
 .show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
 }

/* .chat-container{
  position: fixed;
  bottom: 50px;
  right: 15px;
} */