<!-- <div class="col-md-12">
  <div class="card card-container">

    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3"
          maxlength="20" #username="ngModel" />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Username is required</div>
          <div *ngIf="username.errors['minlength']">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors['maxlength']">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
          #email="ngModel" />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['email']">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
          #password="ngModel" />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div> -->




<div class="login-root">
  <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
    <div class="loginbackground box-background--white padding-top--64">
      <div class="loginbackground-gridContainer">
        <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
          <div class="box-root"
            style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
          </div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
          <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
          <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
          <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
          <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
          <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
          <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
          <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
          <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
        </div>
      </div>
    </div>
    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
      <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h1>Shop-Kart</h1>
      </div>
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15">Create New Account</span>
            <form id="stripe-login" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm" novalidate>
              <div class="field padding-bottom--24 form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" [(ngModel)]="form.username" required
                  minlength="3" maxlength="20" #username="ngModel">

                <div class="alert-danger" *ngIf="username.errors && f.submitted">
                  <div *ngIf="username.errors['required']">Username is required</div>
                  <div *ngIf="username.errors['minlength']">Username must be at least 3 characters</div>
                  <div *ngIf="username.errors['maxlength']">Username must be at most 20 characters</div>
                </div>  
              </div>
              <div class="field padding-bottom--24 form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" [(ngModel)]="form.email" required minlength="3"
                  maxlength="20" email #email="ngModel">

                  <div class="alert-danger" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors['required']">Email is required</div>
                    <div *ngIf="email.errors['email']">Email must be a valid email address</div>
                  </div>
              </div>
              <div class="field padding-bottom--24 form-group">
                <div class="grid--50-50">
                  <label for="password">Password</label>
                  </div>
                  <input type="password" name="password" class="form-control" [(ngModel)]="form.password" required
                    #password="ngModel" minlength="6"/>
                 <div class="alert-danger" *ngIf="password.errors && f.submitted">
                    <div *ngIf="password.errors['required']">Password is required</div>
                    <div *ngIf="password.errors['minlength']">Password must be at least 6 characters</div>
                 </div>
              </div>
              <!-- <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
                <label for="checkbox">
                  <input type="checkbox" name="checkbox"> Stay signed in for a week
                </label>
              </div> -->



              <div style="display: flex; justify-content: center;">
                <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token" 
                required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>

                <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
                  <div *ngIf="recaptcha.errors?.['required']">This field is required.</div>
                </div>
              </div>

              &nbsp;
              <div class="field padding-bottom--24">
                <button class="btn btn-primary btn-block" style="color:white">Sign Up</button>
              </div>
              <div class="field padding-bottom--24">
                <a class="ssolink" href="#">Use single sign-on (Google) instead</a>
              </div>
            </form>
          </div>
        </div>
        <div class="footer-link padding-top--24">
          <!-- <span>Don't have an account? <a href="">Sign up</a></span> -->
          <span>Already have an account? <a href="login">Log In</a></span>
          <span>Go back to home page <a href="home">Homepage</a></span>
          <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
            <span><a href="#">© Shop-Kart</a></span>
            <span><a href="#">Contact</a></span>
            <span><a href="#">Privacy & terms</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>